---
layout: default
title: Home
---

<section class="has-text-centered">
    <section id="skills">
        <h5 class="section-title">Technologies</h5>
        <p>Overview of some technologies I am familiar with.</p>
        <hr class="separator">

        <div class="container is-narrow" style="z-index: 1;">
            <div class="box">
                <div class="content">
                    <div class="columns is-centered is-desktop">
                        {% for area in site.data.stack %}
                        <div class="column">
                            <i class="fas fa-{{ area.icon }}" aria-hidden="true"></i>
                            <h5>{{ area.title }}</h5>
                            <br>
                            <div>
                                <ul>
                                    {% for tech in area.technologies %}<li>{{ tech.title }}</li>{% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="section-divider"></div>
    </section>

    <section id="resume-area">
        <h5 class="section-title">Work experience & education</h5>
        <p>Take a look for more information about me.</p>
        <hr class="separator">
        <a target="_blank" href="{{ site.baseurl }}/download/Curriculum vitae English - Alejandro Gonzalez.pdf" title="Resume" class="button">
            Download resume
        </a>
        <!-- <hr> -->
    </section>

    <section id="projects-area">
        <h5 class="section-title">Some Projects</h5>
        <hr class="separator">
        <div id="projects" class="columns is-multiline is-desktop"></div>
        <a href="https://github.com/{{ site.data.social.github }}?tab=repositories" title="{{ site.data.social.github }}" class="button">
            View more projects
        </a>
    </section>

    {% include footer.html %}
</section>