*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: $primary-color;
  background-color: $primary-background !important;
  font-family: $main-font !important;
  font-size: 16px;
  line-height: 1.5;
  max-width: 100%;
  // overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

p {
  font-size: 16px;
}

hr.separator {
  border: 0;
  width: 1.625rem;
  height: 2px;
  margin: 15px auto 25px;
  background-image: linear-gradient(90deg, $complementary-blue, $main-blue);
}

#aside {
  text-align: center;
  padding: 2rem 1rem;
  color: $primary-light-color;
  background: linear-gradient($complementary-blue, $main-blue), url("/assets/images/sidebar-background.png");
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 16px rgba(0,0,0,0.63);

  a {
    color: #fff;
  }

  .sidebar-sticky {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .sidebar-about h1 {
      color: #fff;
      margin-top: 0;
      font-family: $secondary-font;
      font-size: 2.625rem;
    }

    .sidebar-nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 1rem;
      list-style: none;

      .sidebar-nav-item > i {
        font-size: 32px;
        margin: auto 0.625rem;
      }
    }
  }
}

.lead {
  font-size: 1rem !important;
  font-weight: 300;
}

.tech-logo {
  height: 3.75rem;
  margin: 0.9375rem;
}

%content {
  padding: 4rem 2rem;
}

svg {
  width: 100%;
  height: 10vw;
}

#techs-area {
  @extend %content;
  background-color: #fff;
}

#projects-area {
  @extend %content;
}

@media screen and (min-width: 38em) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 48em) {
  html {
    font-size: 16px;
  }

  #aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 33.3%;
    text-align: left;
  }

  %content {
    margin-left: 33.3%;
    padding: 4rem;
  }

  svg {
    margin-left: 33.3%;
    width: 66.7%;
  }
}

@media screen and (min-width: 58em) {
  .sidebar-about h1 {
    font-size: 2rem;
  }

  html {
    font-size: 20px;
  }
}