$main-font:           'Source Sans Pro', sans-serif;
$secondary-font:      'Montserrat', sans-serif;

$primary-color:      #515151;
$primary-light-color: rgba($color: #fff, $alpha: 0.5);

$primary-background: #efefef;
$main-blue:          #0e4598;
$complementary-blue:rgba(29, 38, 113, 0.8);