$main-font:           'Source Sans Pro', sans-serif;
$secondary-font:      'Montserrat', sans-serif;

$primary-color:      #515151;
$primary-light-color: rgba($color: #fff, $alpha: 0.5);

$primary-background: #efefef;
$main-blue:          #4b6cb7; // #0e4598;
$complementary-blue: #182848cc; // rgba(29, 38, 113, 0.8);

$light-border-color: #E6ECF8;

$buttonWidth: 15.875em;
$buttonHeight: 3.125em;