*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #515151;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 16px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

hr.separator {
  border: 0;
  width: 1.625rem;
  height: 2px;
  margin: 15px auto 25px;
  background-image: linear-gradient(90deg, rgba(29, 38, 113, 0.8), #0e4598);
}

#aside {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  // background-color: #0e4598;
  background: linear-gradient(rgba(29, 38, 113, 0.8), #0e4598), url("/assets/images/sidebar-background.png");
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 16px rgba(0,0,0,0.63);

  a {
    color: #fff;
  }

  .sidebar-sticky {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .sidebar-about h1 {
      color: #fff;
      margin-top: 0;
      font-family: 'Montserrat', sans-serif;
      font-size: 2.625rem;
    }

    .sidebar-nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 1rem;
      list-style: none;

      .sidebar-nav-item > i {
        font-size: 32px;
        margin: auto 0.625rem;
      }
    }
  }
}

.lead {
  font-size: 1rem !important;
  font-weight: 300;
}

.content {
  background-color: #efefef;
  padding: 4rem 2rem;
}

/*** MEDIA QUERIES ***/

@media screen and (min-width: 38em) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 48em) {
  html {
    font-size: 16px;
  }

  #aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 33.3%;
    text-align: left;
  }

  .content {
    margin-left: 33.3%;
    padding: 4rem;
  }
}

@media screen and (min-width: 58em) {
  .sidebar-about h1 {
    font-size: 2rem;
  }

  html {
    font-size: 20px;
  }
}